{% extends '@YBAcme/layout.html.twig' %}

{% trans_default_domain 'YBAcmeBundle' %}

{% block yb_acme_content %}
    <section class="yb-acme yb-acme-bar yb-acme-bar-index">
        <h1>{{ value }}</h1>

        <ol>
            <li>{{ 'bar.index.key1'|trans }} {{ key1 }}</li>
            <li>{{ 'bar.index.key2'|trans }} {{ key2 }}</li>
            <li>{{ 'bar.index.key3'|trans }} {{ key3 }}</li>
        </ol>
    </section>
{% endblock %}
